div {
  padding: 5px;

  font-family: sans-serif;
}

.tree-container {
  display: flex;

  border: 1px solid lightgrey;
  border-radius: 5px;

  margin-left: 30%;
  margin-right: 30%;

  height: 80vh;

  display: flex;
  flex-direction: column;

  font-family: inherit;

  overflow: auto;
}

.title-bar {
  /*padding: 10px;*/
  background-color: #f3f2f2;

  width: 100%;
  align-self: flex-start;
}

.title-bar h1{
  margin: 5px;
  font-size: 12px;
  color: #a09b9b;
}

.footer-bar{
  border-top: 1px solid #a09b9b;
}

.footer-content {
  display: flex;
  /*align-self: flex-end;*/
  justify-content: space-between;
}

.footer-bar button {
  float: right;

  box-sizing: content-box;
  padding: 5px 15px;
  border: 0px;
  border-radius: 3px;

  cursor: pointer;
  font-size: 12px;
  font-weight: bold;

  color: white;
  background-color: #2969ce;

  height: 25px;
}

.footer-bar a{
  font-size: 14px;
  text-decoration: none;
  align-self: center;
}

.tree-content{
  height: 100%;
}

.tree-content ul{
  list-style: none;
}

.tree-content .hidden{
  display: none;
}

img {
  display: inline-block;
  position: absolute;
  /*object-fit: none;
  object-position: 0 0;
  width: 100px;
  height: 100px;*/
}

/*.clip{ position: absolute; top: 0; left: 0; }*/

.img-folder{
  clip: rect(0 10px 10px 0);
  /*object-position: 0px 0px;*/
}
